/* * { 
    font-size: 100%;
    font-size-adjust: 100%;
    box-sizing:border-box; 
}

body, html, #root, .auth-wrapper {
    position: relative;
} */
  
.auth-wrapper {
    position: absolute;
    margin: 10% auto auto 40%; 
    justify-content: center;
    flex-direction: column;
    text-align: left;
    z-index: 9999;
}

.auth-inner {
    width: 400px;
    margin: auto;
    background: var(--color-white);
    box-shadow: 0px 14px 80px var(--color-shadow);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
}

.text-large {
    font-family: var(--font-family-1);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
    color: var(--color-black);
}

.text-normal, .link {
    font-family: var(--font-family-2);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-2);
    color: var(--color-black);
}

.link {
    color: var(--primary-background);
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.input-field {
    font-size: 1rem;
    font-weight: var(--font-weight-2);
    color: var(--color-black);
    background-color: var(--color-light);
    width: 100%;				
    height: auto;
    padding: 0.75rem 1.25rem;
    border-radius: 2rem;
    border: none;
    outline: none;
}

.login-submit {
    font-family: inherit;
    font-size: 1rem;
    font-weight: var(--font-weight-2);
    line-height: inherit;
    cursor: pointer;
    min-width: 40%;
    height: auto;
    padding: 0.65rem 1.25rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    color: var(--color-white);
    background-color: var(--primary-background);
}