:root {
  --primary-background: #FF9100;
  --secondory-background: #FFF3E0;
  --tertiary-background: #FFE0B2;
  --text: #212121;

  --primary-font-size: 2rem;
  --secondory-font-size: 1.5rem;
  
  --header-font: 'Viga', sans-serif;
  --content-font: 'Baloo Tammudu 2', cursive;

  /* For Login page */
  --color-white: #ffffff;
  --color-light: #f1f5f9;
  --color-black: #121212;
  --color-shadow: rgba(34, 35, 58, 0.2);

  --font-family-1: "Times New Roman", Times, serif;
  --font-family-2: "Arial", "Helvetica", "sans-serif";

  --font-weight-1: 600;
  --font-weight-2: 400;
  
  --font-size-1: 2rem;
  --font-size-2: 1rem;
}

.header {
  font-size: var(--primary-font-size);
  font-weight: var(--primary-font-weight);
  color: var(--text);
  text-transform: uppercase;
  font-family: var(--header-font);
  text-align: center;
  letter-spacing: 0.25rem;
  padding: 3rem 0 2rem;
}

h2 {
  font-family: var(--header-font);
  text-align: center;
}
.App {
  text-align: center;
}

body {
  background-color: var(--secondory-background);
}

.Login-button-group {
  float: right;
}

.Login-button {
  color: var(--text);
  font-weight: bold;
  font-size: 16px;
  font-family: var(--content-font);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
}